<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="generator" content="Adobe GoLive" />
		<title>Untitled Page</title>
		<style type="text/css" media="screen"><!--
.small { font-size: 11px; }
--></style>
	</head>

	<body class="small">
		<table width="345" border="0" cellspacing="2" cellpadding="10">
			<tr>
				<td>
					<p><font size="+1" face="Verdana, Arial, Helvetica, sans-serif"><strong>CID Number</strong></font></p>
					<p><font face="Verdana, Arial, Helvetica, sans-serif">The card identification (CID) number is a 3- or 4-digit code found on your credit card. We are requesting it as an added security precaution. It's another measure we take to ensure that your credit card is present when you place your order. If your CID number is illegible, call your credit card company.</font></p>
					<p><font face="Verdana, Arial, Helvetica, sans-serif"><strong>Visa, MasterCard and Discover Cards:</strong><br />
							The CID number is the 3-digit value printed on the signature panel on the back of Visa, MasterCard and Discover Cards immediately following the credit card account number.</font></p>
					<p><img src="/images/misc_cc_visacid.gif" alt="" width="195" height="133" border="0" /></p>
					<p><font face="Verdana, Arial, Helvetica, sans-serif"><br />
							Last 3 digits on back of card.</font></p>
					<p><font face="Verdana, Arial, Helvetica, sans-serif"><br />
							<strong>American Express Cards:</strong><br />
							The CID number is the 4-digit, non-embossed number printed above your account number on the face of your card.</font></p>
					<p><img src="/images/misc_cc_amexcid.gif" alt="" width="195" height="133" border="0" /></p>
					<p><font face="Verdana, Arial, Helvetica, sans-serif"><br />
							Extra 4 digits on front of card.<br />
						</font></p>
				</td>
			</tr>
		</table>
		<p></p>
	</body>

</html>