<p> Thank You! </p>
<p>Authorization of your payment was successful and an email has been sent to your designer. Below is a summary of your order. 
<p>An email has also been sent to you with this order summary. When tracking the progress of your items, use the Rocket job numbers assigned to each item in your order.