<p>Thank You! </p>
<p>Authorization of your payment was successful and we're awaiting your files. Below is a summary of your order.</p> 
<p>An email has also been sent to you with this order summary. When tracking the progress of your items, use the Rocket job numbers assigned to each item in your order.</p>