Address: <% new_options = options_for_select(@customer.addresses.collect { | ad | [ ad.label, ad.id ] } + [['New', 'new']]) %>
<%= select_tag( "record[#{@customer.id}][billing_address_id]", new_options, 
    :onchange => "#{remote_function(:url => update_customer_address_url(:customer_id => @customer.id), :with=>"'id=' + $('record[#{@customer.id}][billing_address_id]').value" )}" ) %>