sort:
<ul id="sortOptions">
<%= link_to_sort('job no.', 'orders.id DESC', 'orders.id') %>
<%= link_to_sort('status', 'status', 'status DESC') %>
<%= link_to_sort('batch', 'batch DESC', 'batch') %>
<%= link_to_sort('size', 'title DESC', 'title') %>
<%= link_to_sort('proof', 'proof_method_name DESC', 'proof_method_name') %>
<%= link_to_sort('paper', 'paper DESC', 'paper') %>
<%= link_to_sort('coating', 'coating DESC', 'coating') %>
</ul>	