<html>
<head>
<%= stylesheet_link_tag 'rocket' %>

<style>
	p { margin-bottom: 0px; padding-bottom: 0px; margin-top: 6px;}
</style>
</head>

<body style="background: white;">
		<%= render(:partial => 'admin/reports/lists/invoice_print', :locals => { :order => @invoice.orders.first, :invoice => @invoice, 
																																							:customer => @invoice.customer})%>

<% if params[:print] %>
	<script>setTimeout('window.print()', 500)</script>
<% end %>
	
</body>

</html>