Dear <%= @customer.first_name %> <%= @customer.last_name %>,

To reset your password, please follow the link to this page: <%= link_to @reset_url, @reset_url %>.

If you received this message in error, please ignore it!

Sincerely,

Rocket Postcards