Greetings from Rocket Postcards! <%= @customer.first_name %> <%= @customer.last_name %> has sent you a link to the Art Upload page for their Rocket Postcards order #<%= @order.full_job_number %>. Here it is:

<%= @upload_url %>

Thanks,
Rocket Postcards Support
support@rocketpostcards.com