<p>Please bring your artwork on CD or DVD to:</p>
<p><strong>Rocket Postcards</strong></p>

<p>363 Clementina
	San Francisco, CA 94103</p>
<p>Be sure to indicate the rocket item number on the disc or within the artwork.</p>

<p><%= link_to 'Get Directions', contactus_url %></p>

<%= button_to 'Create', :action => 'order_summary', :id => order.id, :name => 'drop' %>