<td valign="top" width="561">
	<p><img src="/images/title-samples.gif" alt="" height="33" width="350" border="0" /></p>
	<p><b>THANK YOU</b></p>
	<p>Your samples request has been sent to our sales department and you will soon receive a package in the mail.</p>
	<p>If you would like to contact someone in our sales department immediately, <br />
		please call 1-800-736-6623.</p>
	<p></p>
</td>
