
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<%= stylesheet_link_tag 'main' %>

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'dialog' %>

</head>

<body >







<div id="application">

<%= @content_for_layout %>

</div>

</body>


</html>
